<footer id="footer">
	<div id="footer-runner">
      <div class="footer-left">
      	Powered by <a href="http://projecthydra.org">Hydra</a>.
      </div>
      <div class="footer-right">
        Supported by our <a href="<%= root_path + 'sponsors' %>">Sponsors</a>.<a href="/providers"><span class="glyphicon glyphicon-lock"></span></a>
      </div>

	</div>
</footer>
