<footer id="footer">
	<div id="footer-runner">
      <div class="footer-left">
      	Powered by <a href="http://projecthydra.org">Hydra</a>.
      </div>
      <div class="footer-right">
        <a class="glyphicon-lock" href="/providers"></a>
      </div>

	</div>
</footer>