---
http_interactions:
- request:
    method: get
    uri: http://contentdm1.accesspa.org/oai/oai.php?metadataPrefix=oai_dc&verb=ListRecords
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2015-03-10T14:15:08Z</responseDate><request verb="ListRecords" metadataPrefix="oai_dc">http://contentdm1.accesspa.org/oai/oai.php</request><ListRecords><record><header status="deleted"><identifier>oai:contentdm1.accesspa.org:SLP2005001/0</identifier><datestamp>2013-07-26</datestamp><setSpec>SLP2005001</setSpec></header>
        </record><record><header><identifier>oai:contentdm1.accesspa.org:SLP2005001/16</identifier><datestamp>2006-01-06</datestamp><setSpec>SLP2005001</setSpec></header>
        <metadata>
        <oai_dc:dc xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd">
        <dc:title>Benjamin Franklin and the University of Pennsylvania; an address delivered at the Academy of Music in Philadelphia at the request of Pennsylvania, April 17,1906</dc:title>
        <dc:subject>Franklin, Benjamin, 1706-1790.&lt;br&gt;University of Pennsylvania.</dc:subject>
        <dc:description>Hampton Carson, Pennsylvania attorney general, describes the personality and interests of Benjamin Franklin, touching especially on those characteristics that led Franklin to be involved with educational efforts in general and the University of Pennsylvania in particular.  Carson also mentions by name a large number of notable alumni.</dc:description>
        <dc:creator>Carson, Hampton L. (Hampton Lawrence), 1852-1929.</dc:creator>
        <dc:publisher>State Library of Pennsylvania</dc:publisher>
        <dc:date>1906</dc:date>
        <dc:type>text</dc:type>
        <dc:format>image/jpeg</dc:format>
        <dc:source>PHAE 973.3 F854Z C23</dc:source>
        <dc:language>eng</dc:language>
        <dc:rights>Digital images copyright State Library of Pennsylvania.  All rights reserved.  May be used for educational purposes as long as a credit statement is included.  For all other uses, contact the State Library of Pennsylvania, Digital Rights Office, 333 Market Street, Harrisburg, PA 17126-1745.  Phone: (717) 783-5969</dc:rights>
        <dc:identifier>http://contentdm1.accesspa.org/cdm/ref/collection/SLP2005001/id/16</dc:identifier></oai_dc:dc>
        </metadata>
        </record><record><header status="deleted"><identifier>oai:contentdm1.accesspa.org:SLP2005001/29</identifier><datestamp>2013-07-26</datestamp><setSpec>SLP2005001</setSpec></header>
        </record><record><header><identifier>oai:contentdm1.accesspa.org:SLP2005001/36</identifier><datestamp>2006-01-06</datestamp><setSpec>SLP2005001</setSpec></header>
        <metadata>
       [...]
- request:
    method: get
    uri: http://contentdm1.accesspa.org/oai/oai.php?metadataPrefix=oai_dc&set=alycc-voice&verb=ListRecords
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-[...]
