<h2>PDCP Sponsors</h2>

<p>The Pennsylvania Digital Collections Project (PDCP) is made possible in part by a grant from the
  <strong>Institute of Museum and Library Services (IMLS)</strong> as administered by the <strong>Pennsylvania Department of Education through
  the Office of Commonwealth Libraries</strong>, and the <strong>Commonwealth of Pennsylvania, Tom Wolf, Governor</strong>.</p>
<p>We would also like to acknowledge the financial support of the following sponsors:</p>

<ul>
  <li><strong>Free Library of Philadelphia</strong></li>
  <li><strong>Temple University</strong></li>
  <li><strong>The Pennsylvania State University</strong></li>
  <li><strong>University of Pennsylvania</strong></li>
</ul>

<p>Finally we would like to acknowledge a number of other institutions that are contributing their staff time and resources to the project, especially: </p>

<ul>
  <li><strong>Free Library of Philadelphia</strong></li>
  <li><strong>Health Sciences Libraries Consortium (HSLC)</strong></li>
  <li><strong>IDS/Bucks County Intermediate Unit #22</strong></li>
  <li><strong>Pennsylvania Academic Library Consortium Incorporated (PALCI)</strong></li>
  <li><strong>State Library of Pennsylvania</strong></li>
  <li><strong>Scranton Public Library</strong></li>
  <li><strong>Temple University</strong></li>
  <li><strong>The Pennsylvania State University</strong></li>
  <li><strong>University of Pennsylvania</strong></li>
  <li><strong>University of Scranton</strong></li>
</ul>

