harvest_data_directory: "tmp/harvest"
converted_foxml_directory: "tmp/converted"
quarantined_foxml_directory: "/tmp/quarantined"
pid_prefix: "changeme"
partner: "Name of hub"
human_log_path: '/tmp/path_to_log_files'
human_log_url: 'http://fullurltologfiles'
human_catalog_url: 'http://fullurltocatalog/catalog'
email_sender: "from@example.edu"
email_recipient: "to@example.edu"
noharvest_stopword: "string_in_record_metadata_that_signals_not_to_harvest"
passthrough_url: "sub.example.com"
about_url: "http://padigital.org/about/about-aggregator/"
background_color: "#ddeffe"
