<div class="document-thumbnail">
  <%- if has_thumbnail?(document) && tn = render_thumbnail_tag(document, {:alt => document['title_tesim']}, :counter => document_counter_with_offset(document_counter)) %>
    <%= tn %>
  <%- else %>
    <%= render_default_thumbnail_link(document, :counter => document_counter_with_offset(document_counter)) %>
  <%- end %>
</div>
