/******
*
* Overriding Blacklight styles as needed
*
******/


#header-navbar .navbar-brand {
    /* background: url('/assets/dpla-logo.png') no-repeat scroll left top transparent;*/
    background: none;
    color: #ffffff;
    font-weight: bold;
    height: 50px;
    width: 360px;
    margin-top: 10px;
}

div#header-title h1, div#header-title h1 a {
  color: #ffffff;
  text-decoration: none;
}

div#header-title h1 a:hover {
  background: none;
  text-decoration: underline;
}

.checkbox .toggle_bookmark {
  display: none;
}

