table.oai-seeds, .oai-seeds td, .oai-seeds th {
    border: 1px solid #000;
    padding: 5px;
}

.oai-seeds th, td.oai-actions {
    text-align: center;
}

.oai-note{
  font-size: 11px;
  font-weight: bold;
}

.field .field-tip {
	font-style: italic;
	font-size: 11px;
}

.loading{
  background: asset-data-url('ajax-load.gif') no-repeat scroll center bottom transparent;
  text-align: center;
  font-size: 12px;
  width: 300px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  background-size: 50px 50px;
  line-height: 70px;
  background-position: 130px 45px;
}

.new_provider .field, .edit_provider .field{
  padding: 10px;
}

.btn-provider a {
  background-color:#458bc7;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:20px;
  border:1px solid #0c3f8a;
  display:inline-block;
  color:#ffffff;
  font-size: 12px;
  padding:10px 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283466;
  cursor:pointer;
}

.oai-actions span.disabled-harvest-all-intermediate-provider {
  background-color:#e5e5e5;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:20px;
  border:1px solid #c7c7c7;
  display:inline-block;
  color:#666666;
  font-size: 12px;
  padding:10px 10px;
}

.btn-provider:hover {
  background-color:#1838ba;
}

.btn-provider:active {
  position:relative;
  top:1px;
}

#new_provider fieldset{
  margin-top: 30px;
}
